@(theform: Form[models.DataSensor],thelist: List[models.DataSensor],message: String)
<head>
 <title>DataLogger</title>
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
   <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
   <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" type="text/css">
   <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>

@myInputField(fieldname: String, label: String="" , placeholder: String="" ) = {
  <div class="form-group @if(theform(fieldname).hasErrors){ has-error}">
   <label class="col-sm-2 control-label" for="@fieldname">@label</label>
     <div class="col-sm-6">
       <input type="hidden" name="id" value="@theform("id").value">
	       <input class="form-control" type="text" name="@fieldname" id="@fieldname" placeholder="@placeholder" 
	       value="@theform(fieldname).value">
		       @if(theform(fieldname).hasErrors) {
		          <span class="help-inline">@theform(fieldname).errors.head.message</span>
		       }
   </div>
 </div>

}
@main(message){
<h1 style="margin-top:50px;">Tambah Data Sensor</h1>

@helper.form(action = routes.Application.addDataSensor, 'id -> "addDataSensor", 'class -> "form-horizontal") {

                        @myInputField("value","Value","Value")

                        @myInputField("jumlah","Jumlah","Jumlah")

                        @myInputField("input","Input","Input")

                        @myInputField("output","Output","Output") 
                        
                        @myInputField("node","Node","Node") 
                          
                        @myInputField("tipe","Tipe","Tipe") 

                       

                        <div class="form-group">

                                    <label class="col-sm-2 control-label"></label>

                                    <div class="col-sm-6">

                                                <button class="btn" type="submit">Tambahkan</button>

                                    </div>

                        </div>   

}

<h1>View</h1>

<ul>

            @for( datasensor <- thelist ){

                        <li>@datasensor.toString() <a href="@routes.Application.editDataSensor( datasensor.id )">Edit</a> <a href="@routes.Application.deleteDataSensor( datasensor.id )">Delete</a></li>

            }

</ul>

}
